# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
dist
main.js
# obsidian
data.json
.env
# Exclude sourcemaps
*.map

test-vault/.obsidian/workspace.json
test-vault/.obsidian/plugins/html-server/*
!test-vault/.obsidian/plugins/html-server/.hotreload
