# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js
dist
# obsidian
data.json

# Exclude sourcemaps
*.map

test-vault/.obsidian/workspace.json
test-vault/.obsidian/plugins/obsidian-html-server/*
!test-vault/.obsidian/plugins/obsidian-html-server/.hotreload
